<div class="tab-pane active" id="friends_online">
  <h6>Друзья онлайн</h6>
  <%= render 'friends', friends: @friends_online %>
</div>

<div class="tab-pane" id="friends">
  <h6>Все друзья</h6>
  <%= render 'friends', friends: @friends %>
</div>

<div class="tab-pane" id="groups">
  <h6>Группы</h6>
  <%= render 'groups' %>
</div>